@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-style: bold;
  text-size-adjust: 700;
  color: blue;
  font-size:400%;
  line-break: normal;
}
 

h2{
  font-style: bold;
  background-color: brown;
 
  font-size: 300%;
  font-size:200%;
  text-size-adjust: 900px ;
  color:aquamarine;
  text-align: center;
  
}

nav{
  background-color:aqua;
}
footer{
  text-align: center;
  font-size: larger;
  font-style: oblique;
  color: darkcyan;
}




